In [18]:
## libraries

import requests
import pandas as pd

In [47]:


# flask end point which recieves data from frontend
response_get = requests.get('http://192.168.0.17:5000/test-ticker-data')
# !!Working

data = response_get.json()
print(data)

{'message': 'No data received yet'}

In [46]:
df = pd.DataFrame(data["historical"])

# make date the index col
df.set_index('date', inplace=True)
df.head()

,adjClose,change,changeOverTime,changePercent,close,high,label,low,open,unadjustedVolume,volume,vwap
date,,,,,,,,,,,,
2019-04-05,47.41,0.2375,0.005053,0.50526,47.74,47.91,"April 05, 19",47.13,47.50,48174596,48174596,47.5700
2019-04-08,47.62,0.5175,0.011000,1.10000,47.95,48.20,"April 08, 19",47.19,47.43,42419392,42419392,47.6925
2019-04-09,46.99,-0.2950,-0.006091,-0.60912,47.32,47.72,"April 09, 19",46.89,47.61,43997280,43997280,47.3850
2019-04-10,47.70,0.7175,0.015200,1.52000,48.03,48.29,"April 10, 19",47.26,47.31,44477228,44477228,47.7225
2019-04-11,47.56,-0.1650,-0.003330,-0.33299,47.89,48.37,"April 11, 19",47.39,48.05,37460148,37460148,47.9250